.message{"data-message-id": "#{message.id}"}
  .message__user-name
    = message.user.name
  .message__time
    = format_posted_time(message.created_at)
    - if message.text.present?
      %p.message__text
        = message.text
    = image_tag message.image.url, class: "message__image" if message.image.present?